
.app-wrapper {
    margin: 0 auto;
    grid-template-areas: "header header header" "nav con con";
    display: grid;
    width: 1366px;
    grid-template-rows: 150px 2fr;
    grid-template-columns: 2fr 10fr;
}
.header {
    grid-area: header;
    background-image: url(./24.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
}
.header img{
 width: 50px;
           }
.nav{
  grid-area: nav;
  background-color: springgreen;
}
.content{
  grid-area: con
}